/* title start */
.title_div{
    font-size: 60px;
    text-align: center;
    margin-top: 10vh;
    color: white;
}
/* title end */

/* form start */
.form_div{
    text-align: center;
}
.form_text{
    width: 45vw;
    text-align: center;
    border-radius: 20px;
    margin: 3%;
    height: 50px;
    font-size: 200%;
    background: lavender;
}
.form_b{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin: 1%;
    background: lavender;
}
/* form end */

/* body start */
body{
   background-color: black;
}
/* body end */
